@import "@styles/variables";
@import "@styles/mixins";
@import 'bootstrap/dist/css/bootstrap.min.css';
.payment-table-component {
  outline: 1px solid $stock1;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  input[type="checkbox"] {
    @include square(20px);
  }
  .view-detail {
    display: none;
    font: {
      size: 12px;
      weight: 500;
    }
  }
  tr:not(:last-child),
  thead {
    border-bottom: 1px solid $stock1;
  }
  th {
    // display: flex;
    color: $gray7;
    //text-transform: capitalize;
    background-color: $gray2;
    padding: 12px 24px 12px 24px;
    > span {
      @include flex-container($align: center);
      gap: 5px;
      font: {
        weight: 500;
        size: 12px;
      }
      > svg {
        @include square(16px);
      }
    }
  }
  .loading-row {
    width: 100%;
    td {
      width: 100%;
    }
    svg {
      margin: 10px auto;
      display: block;
      animation: loading 1.2s linear infinite reverse;
    }
  }
  // Style loading svg
  tr {
    // position: relative;
    // z-index: 100;
    .payment-no {
      a {
        text-decoration: none;
      }
    }
    .payments_btns {
      display: flex;
      align-items: center;
      justify-content: start;
      column-gap: 20px;
    }

    &.active {
      background: #e8f2fd;
      border-color: $primary2;
    }
    td {
      color: $base-black;
      font-size: 14px;
      padding: 0 {
        left: 24px;
        right: 2px;
      }
      height: 80px;
    }
    .modal-header{
      border-bottom: 0px!important;
    }
    .modal-footer{
      border-top: 0px!important;
    }
    .custom-modal {
      .modal-header {
        .modal-title {
          display: flex !important;
          flex-direction: column !important;
          justify-content: center !important;
          align-items: center !important;
          text-align: center !important;
        }
      }
    }
    .check {
      padding: 0;
      // position: relative;
      pointer-events: all;
      label {
        cursor: pointer;
        height: 100%;
        width: 100%;
        // position: absolute;
        top: 0;
        left: 0;
        padding: 26px 0 {
          left: 24px;
        }
      }
    }
    .link-wrapper {
      cursor: pointer;
      display: contents;
    }
    .link-wrapper.mobile-only.payment-row {
      display: none;
    }
  }
  th {
    position: relative;
    &:not(:first-of-type) {
      min-width: 112px;
    }
    &.open {
      &::before {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: transparent;
        left: 0;
        top: 0;
        z-index: 101;
      }
      .sorting-options {
        display: block;
      }
    }
    max-width: 16.67%;
    > span:not(.unsorted) {
      cursor: pointer;
    }
    .sorting-options {
      display: none;
      background: white;
      top: 36px;
      left: 8px;
      background: white;
      padding: 4px 0;
      border-radius: 6px;
      box-shadow: 4px 4px 16px 0px #00000014;
      border: 1px solid #f6f6f6;
      transition: 0.8s;
      position: absolute;
      z-index: 101;
      div {
        padding: 10px;
        cursor: pointer;
        svg:last-child {
          opacity: 0;
        }
        &.selected {
          background: #f5f6f7;
          svg:last-child {
            opacity: 1;
          }
        }
        svg:first-child {
          margin-right: 27px;
        }
      }
    }
  }
}

@include respond-to("tablet-landscape") {
  .payment-table-component {
    outline: 0;
    thead {
      display: none;
    }
    .payment-no {
      display: none !important;
    }
    .link-wrapper.desktop-only {
      display: none;
    }
    .modal{
      width:30%;
    }
    .link-wrapper.mobile-only.payment-row {
      width: 100%;
      display: block !important;
      @include flex-container($direction: column);
      .buyer-name {
        color: #0080FC;
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
      }
      .buyer-name2 {
        color: #210D4A;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;
      }
      .payment-amount{
        font-size: 12px;
        color: #210D4A;
        span{
          color: #475467;
        }
      }
      .title-area {
        @include flex-container ($justify: space-between, $align: center);
        .info {
          @include flex-container ($align: center);
          row-gap: 10px;
          column-gap: 10px;
          a {
            text-decoration: none;
          }
        }
        .btns {
          .payments_btns {
            column-gap: 10px !important;
            span {
              width: 32px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 100%;
              svg {
                width: 18px;
                height: 18px;
              }
            }
            .edit-btn {
              background-color: $primary1;
            }
            .delete-btn {
              background-color: #FEF3F2;
            }
          }
        }
      }
      .payment-dcc {
        @include flex-container($justify: space-evenly, $align: center);
        border-top: 0.1em solid $gray4;
        padding-top: 4px;
        hr {
          height:33px;
          width: 1px;
          border-radius: 100%;
          background-color: $gray6;
          margin-top: 0.5rem;
        }
        p {
          @include flex-container($direction: column, $align: center, $justify: center);
          margin-bottom: 0 !important;
          .block-title {
            color: #667085;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
          }
          .block-value {
            color: #210D4A;
            font-weight: 500;
            line-height: 17px;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 99px;
            text-align: center;
            margin-top: 3px;
          }
        }
      }
    }
    tr {
      font-size: 12px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 12px;
      border: 1px solid $stock1;
      border-radius: 8px;
      margin-bottom: 16px;
      padding-bottom: 0;
     // pointer-events: none;
      &.active {
        border-color: $primary2;
        background: #e8f2fd;
        .check > input {
          border-color: $primary5;
        }
        td {
          border-color: white;
          border-right-color: white !important;
        }
      }
      &.no-checkbox {
        .amount {
          font-weight: 500;
        }
        .payment-no {
          width: 100%;
        }
        .amount {
          // padding-bottom: 27px;
        }
      }
      .onClick {
        display: block;
      }
      %row {
        // padding-bottom: 6.5px;
      }
      %first-row {
        @extend %row;
        line-height: 16.8px;
        margin-bottom: 6px;
        font-weight: 500;
      }
      input[type="checkbox"] {
        @include square(16px);
        border: 1px solid $gray300;
      }
      .check {
        @extend %first-row;
        order: 1;
        width: 28px;
        height: 17px;
        label {
          padding: 0;
        }
      }
      .payment-no {
        @extend %first-row;
        order: 2;
        width: calc(100% - 28px);
        height: 17px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        .view-detail {
          display: unset;
          pointer-events: all;
        }
      }
      %second-row {
        @extend %row;
        border-bottom: 1px solid $stock1;
        margin-bottom: 7.5px;
        padding-bottom: 7.5px;
        // height: 28px;
      }
      .buyer {
        @extend %second-row;
        width: 70%;
        order: 3;
        font-size: 14px;
        line-height: 19.6px;
      }
      .amount {
        @extend %second-row;
        width: 30%;
        order: 4;
        font: {
          size: 12px;
          weight: 400;
        }
        line-height: 16.8px;
        @include flex-container(column, center, flex-end);
      }
      .date {
        order: 9;
      }
     
      $other-cols: company, date, overdue, due;
      @each $col in $other-cols {
        .#{$col} {
          @include flex-container(column, flex-start, center);
          gap: 2px;
          flex: 1;
          text-align: center;
          line-height: 16.8px;
          font: {
            weight: 500;
            size: 12px;
          }
          &::before {
            content: "#{$col}";
            text-transform: capitalize;
            color: $gray7;
            font-weight: 400;
          }
        }
      }
      .overdue {
        order: 10;
        &::before {
          content: "Overdue By" !important;
        }
      }
      
      .other:not(.last) {
        border-right: 1px solid $stock1;
        padding-right: 3px;
      }
      // .company {
      //   @include flex-container(column);
      //   &::before {
      //     content: "Compnay";
      //   }
      // }
      td {
        order: 5;
        padding: 0;
      }
    }
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}


.modal-header{
  padding: 24px 0px 0px 0px;
  border-radius: 24px 24px 0px 0px;
  border-bottom: 0;
}
