@import "@styles/variables";
@import "@styles/mixins";

.main-div {
    width: 100%;
    overflow: hidden;
    // height: 736px;
    top: 149px;
    left: 483px;
    gap: 0px;
    border-radius: 8px;
    font-family: Graphik;

    .header {
        width: 100%;
        border-radius: 8px 8px 0px 0px;
        // border: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 20px;
            font-weight: 500;
        }

        .back-link {
            margin-right: 12px;
            color: $gray7;
            cursor: pointer;
            align-self: center;
        }
    }

    .body {
        background-color: #ffffff;
        width: 100%;

        .image {
            overflow: hidden;
            height: 550px;
            width: 100%;
            position: relative;
            border-radius: 8px;
            background-color: #F2F4F7;

            .upload-image-div {
                border-radius: 8px;
                height: 100%;
                width: 100%;

                .upload-image-child {
                    background-color: #F2F4F7;
                    border: 1px dashed #D0D0D0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    border-radius: 8px;
                    cursor: pointer;
                    font-size: 17px;
                    color: #667085;
                }

                .img-fluid {
                    border-radius: 8px;
                    object-fit: contain;
                }
            }

            // .img-overlay {
            //     position: absolute;
            //     overflow: hidden;
            //     height: 100%;
            //     width: 100%;
            //     top: 0;
            //     left: 0;
            //     background-color: rgba(0, 0, 0, 0.22);
            // }
        }

        .position-relative {
            .close-btn-div {
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
            }
        }

        .row {
            div {
                .btn-retake {
                    border: 1px solid #EAECF0;
                    padding: 10px 16px 10px 16px;
                    border-radius: 8px;
                    font-weight: 600;
                    background: #FFFFFF;
                    color: #1D2939;
                    font-size: 14px;
                    font-weight: 600;
                    // margin-right: 6px;
                }

                .btn-save {
                    padding: 10px 16px 10px 16px;
                    border: 1px solid transparent;
                    border-radius: 8px;
                    background-color: #0080FC;
                    color: #fff;
                    font-family: Graphik;
                    font-weight: 600;
                    font-size: 14px;
                    // margin-left: 12px;
                }
            }
        }
    }
}

@include respond-to("tablet-landscape") {
    .main-div {
        font-size: 16px;
    }

    .header {
        font-weight: 600;
    }

    // .close-btn-div {
    //     display: none;
    // }

    .bottom-btns {
        position: fixed;
        bottom: 32px;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        transform-style: preserve-3d;
        width: calc(100vw - 32px);
        max-width: 400px;
        border-radius: 4px;
        height: 36px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        padding: 9px 16px;
        font-weight: 600;
        font-size: 14px;
        font-weight: 600 !important;
        color: white;
    }

    .bottom-btns::after {
        content: "";
        position: fixed;
        background: #e1effe;
        margin: 0 auto;
        width: 100vw;
        left: 50%;
        bottom: -32px;
        z-index: -1;
        transform: translateZ(-1px) translateX(-50%);
        height: 88px;
        border-radius: 16px 16px 0px 0px;
    }
}

/* ========media query================ */

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1024px) {}

@media (max-width: 991.98px) {}

@media (min-width: 767.98px) {
    .main-div {
        width: 30%;
        box-shadow: 2px 0px 4px 0px #0000001A;
        border: 1px solid #EFEFEF;
        width: 391px;

        .header {
            background: #F9FAFB;
            color: #667085;
        }
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}


@media (max-width: 425px) {}